*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Quicksand', sans-serif;
}
.titulos-etica{
    text-align: center;
    font-size: 3.5rem;
}
.contenedor{
    max-width: 1400px;
    margin: auto;
}
nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
    
}
nav .contenedor{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
    
}
nav .logo{
    /* margin-right: 5rem; */
    height: 4.5rem;
    
   
}
nav .logo img{
    height: 100%;
    vertical-align: top;
    
}
 nav .enlaces-navegador{
    display: flex;
    align-items: center;
    justify-content: right;
    
    
 }
 nav .enlaces-navegador a{
    
    text-decoration: none;
    color: black;
    text-align: right;
    margin-left: 2rem;
 }
#presentacion{
    margin-top: 5.5rem;
}
#presentacion h1{
    text-align: center;
    font-size: 2rem;
}

#indice h2{
    text-align: center;
    font-size: 3.5rem;
}

/* Indice */
#indice{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}
#indice .contenedor{
    padding: 200px 0px;
}
#indice h2{
    margin-top: 0;
    font-size: 3.2em;
}
#indice p{
    display: none;
}
#indice .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    
}
.carta:first-child{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../multimedia/fondo-sociedad.jpg");
}
.carta:nth-child(2){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../multimedia/fondo-cliente.jpg");
}
.carta:nth-child(3){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../multimedia/fondo-producto.jpg");
}
.carta:nth-child(4){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../multimedia/fondo-juicio.PNG");
}
.carta:nth-child(5){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../multimedia/fondo-admin.jpg");
}
.carta:nth-child(6){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../multimedia/fondo-profesion.jpg");
}
.carta:nth-child(7){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../multimedia/fondo-colegas.jpg");
}
.carta:nth-child(8){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../multimedia/fondo-personal.jpg");
}
@media (min-width: 780px){
     .items{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        
    }
    #indice p{
        display: block;
        margin-bottom: 30px;
    }
    #indice h2{
        font-size: 4em;
    }
    #indice h3{
        margin-top: 0;
    }
    #indice .carta{
        padding: 50px;
        box-shadow: 2px 2px 10px rgb(30,30,30,1);
    }
    #indice button{
        position:initial;
    }
}

/* Fin indice */
/* Sociedad */
.contenedor .contenedor-img{
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    

}
.contenedor-img img{
    width: 50%;
}
.contenedor .contenedor-info{
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
    margin: 0 3rem 0 3rem;

}
.contenedor-info p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.contenedor-info ul{
    font-size: 1.6rem;
    background-size:COVER;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
    
}
@media (min-width: 780px){
    .principio{
        display: flex;
        
        
    }
    

    /* .contenedor  .contenedor-info{
        width: 30%;
    }
    
    .contenedor-img img{
        width: 30%;
    }
    .contenedor-info ul{
        font-size: 1rem;
        
    } */
    
}

