*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Quicksand', sans-serif;
}
.titulos-etica{
    text-align: center;
    font-size: 3.5rem;
}
.contenedor{
    max-width: 1400px;
    margin: auto;
}
nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
    
}
nav .contenedor{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
    
}
nav .logo{
    /* margin-right: 5rem; */
    height: 4.5rem;
    
   
}
nav .logo img{
    height: 100%;
    vertical-align: top;
    
}
 nav .enlaces-navegador{
    display: flex;
    align-items: center;
    justify-content: right;
    
    
 }
 nav .enlaces-navegador a{
    
    text-decoration: none;
    color: black;
    text-align: right;
    margin-left: 2rem;
 }
#presentacion{
    margin-top: 5.5rem;
}
#presentacion h1{
    text-align: center;
    font-size: 2rem;
}

#indice h2{
    text-align: center;
    font-size: 3.5rem;
}


/* Sociedad */
.contenedor .contenedor-img{
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    

}
.contenedor-img img{
    width: 50%;
}
.contenedor .contenedor-info{
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
    margin: 0 3rem 0 3rem;

}
.contenedor-info p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.contenedor-info ul{
    font-size: 0.5rem;
    
}
@media (min-width: 780px){
    .principio{
        display: flex;
        
        
    }
    

    /* .contenedor  .contenedor-info{
        width: 30%;
    }
    
    .contenedor-img img{
        width: 30%;
    }
    .contenedor-info ul{
        font-size: 1rem;
        
    } */
    
}

